@import "tailwindcss";

@theme {
  --color-primary: #22c55e;
  --color-background-light: #f6f8f7;
  --color-background-dark: #0f172a;

  --font-display: "Inter", sans-serif;
}

@layer base {
  :root {
    --background: var(--color-background-light);
    --foreground: #0f172a;
  }

  .dark {
    --background: var(--color-background-dark);
    --foreground: #f6f8f7;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}

/* Material Symbols Outlined settings */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
